<h1>Editing assestment</h1>

<%= render "form", assestment: @assestment %>

<br>

<div>
  <%= link_to "Show this assestment", @assestment %> |
  <%= link_to "Back to assestments", assestments_path %>
</div>
