<ol class="breadcrumb float-sm-right">
  <% path.each do |p|%>
    <li class="breadcrumb-item"><a href="<%= p[:path] %>" class="text-navy"><%= p[:name] %></a></li>
  <% end %>
  <li class="breadcrumb-item active"><%= current %></li>
</ol>
